log/*.log
tmp/**/*
.DS_Store
tmp/
db/schema.rb
db/*.sqlite3
db/*.sqlite3-journal
doc/api
doc/app
config/database.yml
config/deploy_orig.rb
coverage/*
*#*
*~
public/system/**/*
test/*
spec/fixtures/*
builds/*
Gemfile.lock
.bundle/*
.idea/
