<li>
  <div>
    <%= link_to project.name, "/#{ project.name }" %>
    <p>Date: <%= project.builds.last.created_at.strftime("%D") %></p>
    <p>Committer: <%= project.builds.last.committer %></p>
  </div>
  <%= image_tag last_build_state(project) %>
</li>
