<li>
  <h1><%= link_to project.name.titleize, "/#{ project.name }", :class => "project_name" %></h1>

  <div class="build_statuses">
    <% project.builds.reverse[0..max(project)].each do |build| %>
      <%= build_status(build) %>
    <% end %>
  </div>
</li>
