<%= link_to "Edit Project", "/#{@project.name}/edit" %>
<ul>
  <li id='project_name'><h1><%= @project.name %></h1></li>
  <%= render :partial => "build", :collection => @project.builds.reverse %>
</ul>
